.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    /* 숨기기 */
    display: none;
    /* 보여주기 */
    /* display: block; */
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    /* display: none; */
    /* 애니메이션줄 때 display:none 대신 사용 */
    visibility: hidden;
    /* 투명도 */
    opacity: 0;
    /* 모든 css가 변할 때 1초에 걸쳐서 서서히 변하게 해주세요 */
    transition: all 1s;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

  .show-modal {
    /* display: block과 비슷 */
    visibility: visible;
    opacity: 1;
  }

.main-bg{
  padding: 100px 20px;
  background: lightgrey;
}

#pw-popup, #id-popup{
  display: none;
}

.slide-container {
  /* 브라우저폭 == 100vw 
  300vw는 브라우저 폭의 3배 */
  width: 300vw;
  /* 옆으로 이동시키는 방법 
  1. margin 조절 */
  /* margin-left: -100vw; */
  /* 2. tranform 사용하기 (margin보다 더 부드러움) */
  transition: all 1s;
  /* transform: translateX(-100vw); */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* 애니메이션 시작 전 스타일 */
.navbar-brand {
  font-size: 30px;
}
